<html>
  <head>
    <title>Todo App</title>
    <style>
      .hidden {
        display: none;
      }
      #error {
        display: none;
      }
      ul {
        list-style:none;
        padding:0;
        margin:0;
        width: 300px;
      }
      li {
        clear: both;
      }
      li button {
        -webkit-appearance: none;
        border: none;
        outline: none;
        color: red;
        float: right;
        cursor: pointer;
        font-size: 20px;
      }
      .lists-wrapper, .todos-wrapper {
        display: inline-block;
        vertical-align: top;
      }
    </style>
  </head>
  <body>
    <div id="error" class="hidden">Something went wrong!</div>

    <div class="lists-wrapper">
      <h4>Todolists</h4>

      <form id="form_todolist" method="post" action="/todolist/create">
      <input type="text" id="name" name="name" />
      <input type="submit" value="Create" />
      </form>

      <ul id="lists">
        {% for list in lists %}
          <li>
            <a href="/lists/ {{ list.id }}">{{ list.name }}</a>
          </li>

        {% endfor %}
      </ul>
    </div>

    <div class="todos-wrapper">
      <h4>{{active_list.name}}</h4>

      <form id="form" method="post" action="/todos/create">
      <input type="text" id="description" name="description" />
      <input type="submit" value="Create" />
      </form>

      <ul id="todos">
        {% if todos %}
        {% for todo in todos %}
        <li>
          <input class="checkbox-completed" data-id="{{ todo.id }}" type="checkbox" {% if todo.completed %} checked {% endif %}>
          {{ todo.description }}
          <button class="delete-button" data-id="{{ todo.id }}">&cross;</button>
        </li>
        {% endfor %}
         {% endif %}
      </ul>
    </div>
    <script>
      const checkboxes = document.querySelectorAll('.checkbox-completed');
      for (let i = 0; i < checkboxes.length; i++) {
        const checkbox = checkboxes[i];
        checkbox.onchange = function(e) {
          console.log('event', e);
          const newCompleted = e.target.checked;
          const todoId = e.target.dataset['id'];
          fetch('/todos/' + todoId + '/set-completed', {
            method: 'POST',
            body: JSON.stringify({
              'completed': newCompleted,
            }),
            headers: {
              'Content-Type': 'application/json',
            }
          })
          .then(function() {
          document.getElementById('error').className = 'hidden';
        })
          .catch(function() {
          document.getElementById('error').className = '';
        })
        }
      }

      <!--neues todolist item darstellen-->
      const nameInput = document.getElementById('name');
      document.getElementById('form_todolist').onsubmit = function(e) {
        e.preventDefault();
        const name = nameInput.value;
        nameInput.value = '';
        fetch('/todolist/create', {
          method: 'POST',
          body: JSON.stringify({
            'name': name,
          }),
          headers: {
            'Content-Type': 'application/json',
          }
        })
        .then(response => response.json())
        .then(jsonResponse => {
          console.log(jsonResponse);
          li = document.createElement('li');
          const todolist_link = document.createElement('a');
          todolist_link.href = "/lists/" + jsonResponse.id;
          todolist_link.innerText = jsonResponse.name;
          li.appendChild(todolist_link);
          document.getElementById('lists').appendChild(li);
          document.getElementById('error').className = 'hidden';
        })
        .catch(function() {
          document.getElementById('error').className = '';
        })
      }
      <!--neues Todolist item darstellen Ende -->


      <!--neues todo item darstellen-->
      const descInput = document.getElementById('description');
      document.getElementById('form').onsubmit = function(e) {
        e.preventDefault();
        const desc = descInput.value;
        descInput.value = '';
        fetch('/todos/create', {
          method: 'POST',
          body: JSON.stringify({
            'description': desc,
            'list_id': "{{ active_list.id }}",
          }),
          headers: {
            'Content-Type': 'application/json',
          }
        })
        .then(response => response.json())
        .then(jsonResponse => {
          console.log(jsonResponse);
          li = document.createElement('li');
          const checkbox = document.createElement('input');
          checkbox.className = 'check-completed';
          checkbox.type = 'checkbox';
          checkbox.setAttribute('data-id', jsonResponse.id);
          li.appendChild(checkbox);
          const text = document.createTextNode(' ' + jsonResponse.description);
          li.appendChild(text);
          const btn_delete = document.createElement('button');
          btn_delete.className = 'delete-button';
          btn_delete.setAttribute('data-id', jsonResponse.id);
          btn_delete.innerHTML = '&cross;';
          li.appendChild(btn_delete);
          document.getElementById('todos').appendChild(li);
          document.getElementById('error').className = 'hidden';
        })
        .catch(function() {
          document.getElementById('error').className = '';
        })
      }
      <!--neues Todo item darstellen Ende -->

      const deleteBtns = document.querySelectorAll('.delete-button');
      for (let i = 0; i < deleteBtns.length; i++) {
        const btn = deleteBtns[i];
        btn.onclick = function(e) {
          const todoID = e.target.dataset['id'];
          fetch('/todos/' + todoID, {
            method: 'DELETE'
          })
          .then(function() {
            const item = e.target.parentElement;
            item.remove();
          });
        }

      }
    </script>
  </body>
</html>